img {
    width: 100%;
}

body {
    background-color: black;
}


/******** Fonte ******/

a {
    color: deepskyblue;
    font-family: "Questrial";
    font-size: 1.7rem;
}

a:hover {
    color: deepskyblue;
}

h1 {
    font-size: 2rem;
    color: black;
    font-family: "Questrial";
    margin-left: 1%;
    height: 6vh;
}

h2 {
    font-size: 1.8rem;
    color: black;
    font-family: "Questrial";
}

h3 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    font-family: "Questrial";
}

h4 {
    font-size: 1rem;
    color: black;
    font-weight: bold;
    font-family: "Questrial";
}


p {
    font-size: 1.5rem;
    color: black;
    font-family: "Questrial";
    line-height: 150%;
}

li {
    font-size: 1.5rem;
    color: black;
    font-family: "Questrial";
}

h5 {
    font-size: 1.1rem;
    color: black;
    font-family: "Questrial";
    line-height: 150%;
    margin: -18px 150px 0px 0px;
    font-weight: normal;
}

/******** Menu ******/

header {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0 25px;
    background-color: #000000;
    width: 100%;
    box-sizing: border-box;
}

header nav {
    float: right;
}

header nav ul {
    margin: 0;
    padding: 0;
    display: flex;
}

header nav ul li {
    list-style: none;
}

header nav ul li a {
    height: 50px;
    line-height: 50px;
    padding: 9px 30px;
    color: deepskyblue;
    text-decoration: none;
    display: block;
    font-size: 1.5rem;
    font-family: "Questrial", sans-serif;
}

.menu_toggle {
    color: #ffffff;
    float: right;
    line-height: 50px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px) {
    header {
        padding: 0 20px;
    }

    .menu_toggle {
        display: block;
    }

    header nav {
        position: absolute;
        width: 100%;
        height: calc(50vh - 50px);
        background-color: black;
        top: 50px;
        left: 100%;
        transition: 0.5s;
    }

    header nav.active {
        left: 0;
    }

    header nav ul {
        display: block;
        text-align: center;
        padding-top: 25px;
    }

}

@media (min-width: 992px) {
    header nav ul li a:hover {
        color: black;
        background-color: lightblue;
        font-weight: bold;

    }
}

/******** Forside ******/

#splash {
    width: 100%;
    height: 100vh;
    max-width: none;
    background-image: url(image/splash.png);
    background-size: cover;
    background-position: 100% 0%;
}

/******** Portfolio ******/

#portfolio {
    background-color: cadetblue;
}

#portfolio .image {
    display: block;
    width: 100%;
    height: auto;
}

.container {
    display: grid;
    grid-template-columns: 500px 500px;
    padding: 75px;
    margin: -2px 40px 40px 40px;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
}

.item {

    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 20px;
    font-size: 30px;
    text-align: center;
    position: relative;
}

.item:hover .overlay {
    opacity: 1;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .8s ease;
    background-color: black;
}

.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

@media only screen and (max-width:800px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        padding: 30px 2px;
        margin-top: 50px;
    }
}

/******** Om mig ******/

#om p {
    font-size: 1.1rem;
    color: black;
    font-family: "Questrial";
    line-height: 150%;
}

#splash1 {
    width: 100%;
    height: 86vh;
    max-width: none;
    background-image: url(image/mig.png);
    background-size: cover;
    background-position: 100% 0%;
    margin-top: 12vh;
}

#om .sectionwrapper {
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 43px 150px;
}

#om .txt {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 50px;
    margin-top: -25px;
}

#om .pic {
    flex-grow: 1;
    flex-basis: 25px;
    padding: 50px 47px 25px 0px;
}

#video {
    display: flex;
    position: relative;
    justify-content: center;
    margin: 35px 150px 20px 154px;
}

@media only screen and (max-width:800px) {
    #om .sectionwrapper {
        margin-left: 20px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:800px) {
    #om .pic {
        flex-basis: 240px;
        margin-top: -90px;
        margin-left: 65px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:800px) {
    #video {
        margin-left: -90px;
        margin-right: 20px;
    }
}


/******** Tittelsekvens ********/
#responsiv .image {
    width: 80%;
}

#tittelsekvens a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#tittelsekvens a:hover {
    color: deepskyblue;
}


#tittelsekvens {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#tittelsekvens .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#tittelsekvens h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 3px -70px;
}

@media only screen and (max-width:800px) {
    #tittelsekvens {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #video {
        margin-left: -90px;
        margin-right: 20px;
    }
}

@media only screen and (max-width:800px) {
    #tittelsekvens h1 {
        font-size: 1.8rem;
        margin-right: 0px;
    }
}


/******** Responsive ********/

#responsiv .image {
    width: 80%;
}

#responsiv a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#responsiv a:hover {
    color: deepskyblue;
}


#responsiv {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#responsiv .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#responsiv .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

#responsiv h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

@media only screen and (max-width:800px) {
    #responsiv {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #responsiv h1 {
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #responsiv .image {
        width: 100%;
        margin-left: -35px;

    }
}


/******** Catlady ********/

#catlady .image {
    width: 80%;
}

#catlady a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#catlady a:hover {
    color: deepskyblue;
}


#catlady {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#catlady .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#catlady .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

#catlady h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}


@media only screen and (max-width:800px) {
    #catlady {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #catlady h1 {
        font-size: 1.3rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #catlady .image {
        width: 100%;
        margin-left: -35px;

    }
}


/******** Slet Det ********/

#sletDet .image {
    width: 80%;
}

#sletDet a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#sletDet a:hover {
    color: deepskyblue;
}


#sletDet {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#sletDet .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#sletDet .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

#sletDet h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

@media only screen and (max-width:800px) {
    #sletDet {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #sletDet h1 {
        font-size: 1.3rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #sletDet .image {
        width: 100%;
        margin-left: -35px;

    }
}


/******** Redesign1 ********/


#redesing1 .image {
    width: 80%;
}

#redesing1 a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#redesing1 a:hover {
    color: deepskyblue;
}


#redesing1 {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#redesing1 .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#redesing1 .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

#redesing1 h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

@media only screen and (max-width:800px) {
    #redesing1 {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #redesing1 h1 {
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #redesing1 .image {
        width: 100%;
        margin-left: -35px;

    }
}

/******** Redesign2 ********/

#redesign2 .image {
    width: 80%;
}

#redesign2 .image1 {
    width: 90%;
}

#redesign2 .sectionwrapper1 p {
    text-align: center;
    margin: 50px 0px 15px 0px;
}

#redesign2 a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#redesign2 a:hover {
    color: deepskyblue;
}

#redesign2 {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#redesign2 .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#redesign2 .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

#redesign2 h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

@media only screen and (max-width:800px) {
    #redesign2 {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #redesign2 h1 {
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #redesign2 .image {
        width: 100%;
        margin-left: -35px;

    }
}

@media only screen and (max-width:800px) {
    #redesign2 .image1 {
        width: 105%;
        margin-left: -45px;

    }
}


/******** Design Sprint ********/

#designsprint .image {
    width: 30%;
}

#designsprint .image1 {
    width: 80%;
}

#designsprint .image2 {
    width: 50%;
}

#designsprint h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

#designsprint a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#designsprint a:hover {
    color: deepskyblue;
}

#designsprint ul {
    margin: 0px 200px 0px -20px;
}

#designsprint {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#designsprint .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#designsprint .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

.Woman {
    display: flex;
    flex-wrap: wrap;
    width: 90%;
}

.forum {
    flex-grow: 1;
    flex-basis: 200px;
    padding: 7px;
}

@media only screen and (max-width:800px) {
    #designsprint {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #designsprint h1 {
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #designsprint .image {
        width: 70%;
        margin-left: -35px;

    }
}

@media only screen and (max-width:800px) {
    #designsprint .image1 {
        width: 105%;
        margin-left: -45px;

    }
}

@media only screen and (max-width:800px) {
    #designsprint .image2 {
        width: 105%;
        margin-left: -45px;

    }
}

@media only screen and (max-width:800px) {
    #designsprint .image3 {
        width: 105%;
        margin-left: -45px;

    }
}

/******** Prototype ********/

#prototype .image {
    width: 80%;
}

#prototype .image1 {
    width: 40%;
}

#prototype .image2 {
    width: 90%;
}

#prototype h1 {
    background-color: cornflowerblue;
    padding: 15px 15px 8px 15px;
    text-align: center;
    margin: 3px 0px 35px -70px;
}

#prototype a {
    color: black;
    font-family: "Questrial";
    font-size: 1.2rem;
}

#prototype a:hover {
    color: deepskyblue;
}

#prototype {
    background-color: lightblue;
    margin: 0px 160px 50px 160px;
}

#prototype .sectionwrapper {
    padding: 78px 0px 70px 70px;
}

#prototype .sectionwrapper1 {
    padding: 78px 0px 70px 70px;
    margin-top: -130px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 90%;
}

td {
    background-color: white;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #dddddd;
    font-size: 1.2rem;
    border: 1px solid black;
    text-align: left;
    padding: 8px;
    width: 10px;
}

@media only screen and (max-width:800px) {
    #prototype {
        margin: 0px 15px;
    }
}


@media only screen and (max-width:800px) {
    #prototype h1 {
        font-size: 1.5rem;
        margin-right: 0px;
    }
}

@media only screen and (max-width:800px) {
    #prototype .image1 {
        width: 70%;
    }
}


/******** Ekstra ********/

@font-face {
    font-family: 'Questrial';
    font-style: normal;
    font-weight: 400;
    src: local('Questrial'), local('Questrial-Regular'), url(https://fonts.gstatic.com/s/questrial/v8/QdVUSTchPBm7nuUeVf70viFl.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@media only screen and (min-width: 300px) {
    #splash {
        background-image: url(image/splash.png);
        background-position: 51% 0%;
    }
}

@media only screen and (min-width: 1200px) {
    #splash {
        background-image: url(image/splash.png);
        background-position: 100% 50%;
    }
}

@media only screen and (min-width: 300px) {
    #splash1 {
        background-image: url(image/mig.png);
        background-position: 51% 0%;
    }
}

@media only screen and (min-width: 1200px) {
    #splash1 {
        background-image: url(image/mig.png);
        background-position: 100% 50%;
    }
}
